
<mesh title="heading" class="flex-center">
    <h1><%= @feed.name %></h1>
</mesh>
<mesh title="heading" class="flex-center offset-icons gap2">
    <p>viewing <%= @feed.user.name %>'s feed</p>
</mesh>

