  <container class="yellow-background no-padding" title="faraday header"> 
    <inner class="max-width-wider">
        <mesh class="flex-stretch">
            <section class="marketing-section gap7">
                <div class="gap3">
                    <h4>FARADAY TUBE</h4>
                    <h1>Youtube, Twitter and IG without 
                        <span style="text-decoration: line-through;">algorithms</span>, 
                        <span style="text-decoration: line-through;">rabbit holes</span> or 
                        <span style="text-decoration: line-through;">comments</span>
                    </h1>
                </div>
                <% if @current_user.present? %>
                    <%= link_to "View my feeds", user_home_path(@current_user), class: "button primary medium" %>
                <% else %>   
                    <%= link_to "Try it out", new_user_path, class: "button primary medium" %>
                <% end %>   
            </section>

            <div class="desktop-header-image"></div>

        </mesh>
        <div class="mobile-header-image blue-background"></div>
    </inner>
</container> 

 
