
/* structure and setup */

/* resets */
*{box-sizing:border-box; margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
div, container, nav, mesh, inner {display: block; }
body, html{ min-height: 100vh;  background: var(--bgCol2); }

/* variables */
:root {
    /* spacers */
    --sp0:3px;
    --sp1:5px;
    --sp2:12px;
    --sp3:18px;
    --sp4:25px;
    --sp5:30px;
    --sp6:35px;
    --sp7:60px;
    --sp8:75px;
    /* font size */
    --fonts1: 30px;
    --fonts2: 20px;
    --fonts3: 18px;
    --fonts4: 16px;
    --fonts5: 13px;
    --maxTextWidth:800px;
    /* color table */
    --purple1: hsla(274, 17%, 28%, 1);
    --purple2: hsla(275, 13%, 62%, 1);
    --yellow1: hsla(47, 100%, 72%, 1);
    --yellow2: hsla(47, 100%, 90%, 1);
    --blue1: hsla(230, 34%, 71%, 1);
    --blue2: hsla(230, 23%, 92%, 1);
    --blue3: hsla(230, 42%, 98%, 1);
    /* interface colors */
    --mainCol: var(--purple1);
    --bgCol: white;
    --bgCol2: var(--blue3);
    /*Misc*/
    --borderRad:var(--sp3);
  }

/* ------------------------- */
/* structure */
container{
    padding:var(--sp4) var(--sp5);
    background-color: var(--bgCol);
    width: 100%;
}
    inner{
        margin:0 auto;
        width:100%;
        max-width: 1000px;
    }

nav{
    position:fixed;
    display: flex;
    width:100%;
    background: var(--bgCol);
}

feed{
    background: var(--bgCol2);
    width:100%;
    display:block;
    height:100%;
    animation: fadein 3s;

}
    .feed-inner{
        display: flex;
        flex-direction: column-reverse;
        max-width: 1000px;
        margin:0 auto;
        padding: var(--sp3) var(--sp2);
        align-items: flex-start;

    }

    post{
        border-radius: var(--borderRad);
        background: var(--bgCol);
        max-width: 100%;
        width: fit-content;
    }
        content{
            border-radius: var(--borderRad) var(--borderRad) 0 0;
            overflow: hidden;
            display: flex;
            overflow:scroll;
        }
        dot{
            display: flex;
            align-items: center;
            margin:var(--sp4);
        }
        posttitle{
            display: flex;
            align-items: center;
            flex-grow: 2;
            overflow: hidden;
            padding: var(--sp4) var(--sp4) var(--sp4) 0;
        }
        iconcontainer{
            display: flex;
            align-items: center;
            padding: var(--sp2);
        }
            icon{
                display: flex;
                padding: var(--sp3) var(--sp2);
                border-radius: var(--borderRad);
                cursor: pointer;
            }

            icon:hover{
                background: var(--bgCol2);
            }


main{
    padding-top:85px;
    height:100%;
}




